// app global css in SCSS form
.fill {
    height: calc(100vh - 100px);
}
.code {
    font-family: 'Consolas';
    font-size: 1.3em;
    letter-spacing: 0.075em;
    line-height: 1.5em;
    white-space: pre;
}
.overflow-wrap {
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    hyphens: auto !important;
}
.tooltip {
    font-size: 1.05em;
}
.no-pointer {
    cursor: default !important;
}
.cursor-text {
    cursor: text;
}
.q-bar {
    * {
        cursor: default;
    }

    > button {
        min-width: 50px;
        margin: 0;
    }
}



.CodeMirror {
    height: auto !important;
    color: $grey-6 !important;
    background: transparent !important;
}
div.CodeMirror-selected {
    background: #303030 !important;
}
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
    background: rgba(48, 48, 48, .99) !important;
}
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection {
    background: rgba(48, 48, 48, .99) !important;
}
.CodeMirror-guttermarker, .CodeMirror-guttermarker-subtle {
    color: transparent !important;
}
.CodeMirror-gutters {
    background: transparent !important;
    border-right: none !important;
}
.CodeMirror-cursor {
    border-left: 1px solid #b0b0b0 !important;
}
.CodeMirror-linenumber {
    color: #505050 !important;
}
> .CodeMirror-activeline-background {
    background: #202020 !important;
}
.CodeMirror-matchingbracket {
    text-decoration: underline !important;
    color: white !important;
}
