// app global css in SCSS form

.fill {
    height: calc(100vh - 137px);
}
.code {
    font-family: 'Courier New';
    white-space: pre;
}
.overflow-wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}