// app global css in SCSS form
.fill {
    height: calc(100vh - 100px);
}
.tooltip {
    font-size: 1.05em;
}
.no-pointer {
    cursor: default !important;
}
.cursor-text {
    cursor: text;
}
.q-bar {
    * {
        cursor: default;
    }

    > button {
        min-width: 50px;
        margin: 0;
    }
}
