// src/css/quasar.variables.scss

$primary   : #27ddff;
$secondary : #25aac2;
$accent    : #27ddff;

$dark      : #1d1d1d;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #b8b8b8;
$warning   : #F2C037;